@{
    ViewBag.Title = "Articles";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>




<script>
    $("li a").css({ "color": "white", "font-weight": "bold" });
</script>