@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clasic Tours</title>
    <link rel="stylesheet" href="~/Content/tours.css"
</head>
<body>
    <div class="main-content">
        <div class="bg-img">
            <div class="text-center title">
                <h1><span>Tours</span></h1>
                <h4>Classic Tours</h4>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tours ">
            <div class="row">
                <div class="col-lg-2 col-md-2 text-right">
                    <div class="tour-link btn-group-vertical">
                        <button type="button" class="btn btn-primary "><a href="~/Home/DailyTours">Daily Tours <i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
                        <button type="button" class="btn btn-primary "><a href="~/Home/ClassicTours">Classic Tours <i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/tours_0525773_garni(1).jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>3 NIGHTS & 4 DAYS TOUR IN ARMENIA</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/0c758c944f0062609b2677e28107bc5e_XL.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>4 NIGHTS & 5 DAYS TOUR IN ARMENIA </strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/1369134505_1!!-!!geghard-8-4.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>7 NIGHTS & 8 DAYS TOUR IN ARMENIA</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/artsakhtravel.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>ARMENIA - ARTCAX</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
