@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daily Tours</title>
    <link rel="stylesheet" href="~/Content/tours.css" />
</head>
<body>
    <div class="main-content">
        <div class="bg-img">
            <div class="text-center title">
                <h1><span>Tours</span></h1>
                <h4>Daily Tours</h4>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="tours ">
            <div class="row">
                <div class="col-lg-2 col-md-2 text-right">
                    <div class="tour-link btn-group-vertical">
                        <button type="button" class="btn btn-primary "><a href="~/Home/DailyTours">Daily Tours <i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
                        <button type="button" class="btn btn-primary "><a href="~/Home/ClassicTours">Classic Tours <i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/avatar.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>GARNI & GEGHARD</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/shutterstock_203187289.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>CITY TOUR</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/Lake-Sevan-Armenias-blue-eyed-beauty.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>TSAGHKADZOR & LAKE SEVAN</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hover">
                        <div class="block">
                            <a href="">
                                <img src="http://tatev.com/admin/uploads/package/echmiadzin.jpg">
                            </a>
                        </div>
                        <div class="title">
                            <h3><strong>ECHMIADZIN</strong><br></h3>
                            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                            <button type="button" class="btn btn-primary btn-xs">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
