@{
    ViewBag.Title = "Home Page";
}

<div class="main-content">
    <div class="bg-image">
        <div class="welcome">
            <h1>Welcome to Armenia</h1>
            <h4>CITY TOURS / TOUR TICKETS / TOUR GUIDES</h4>
            <div class="tour-links">
                <a href="~/Home/DailyTours">View Tours</a>
                <a href="" id="second-child">View Hotels</a>
            </div>
        </div>

    </div>
</div>




<div class="content">
    <div class="tours">
        <h1 class="text-center">
            <span>Tours</span>
        </h1>
        <div class="row">
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/shutterstock_203187289.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>City Tour</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/avatar.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>GARNI & GEGHARD</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/Lake-Sevan-Armenias-blue-eyed-beauty.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>TSAGHKADZOR & LAKE SEVAN</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>

            </div>
            <div class="all-tours text-center">
                <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View All Tours</button>
            </div>
        </div>
    </div>
    <div class="services">
        <h1 class="text-center">
            <span>Services</span>
        </h1>
        <div class="row">
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/yerevan-zartnots.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>AIRPORT TRANSFER</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/Flag.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>GREEEN CARD MEDICAL SERVICE</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/package/zvartnots-yerevan.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>AIRPORT PICKUP</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>

            </div>
            <div class="all-tours text-center">
                <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View All Services</button>
            </div>
        </div>
    </div>
    <div class="hotels">
        <h1 class="text-center">
            <span>Hotels</span>
        </h1>
        <div class="row">
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/property/ad2901c3_z.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>ARARAT</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/property/54232846.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>MULTI GRAND</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>
            </div>
            <div class="col-md-4 hover">
                <div class="block">
                    <a href="">
                        <img src="http://tatev.com/admin/uploads/property/44538484.jpg">
                    </a>
                </div>
                <div class="title">
                    <h3><strong>BEST WESTERN CONGRESS</strong><br></h3>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>
                </div>

            </div>
            <div class="all-tours text-center">
                <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View All Hotels</button>
            </div>
        </div>
    </div>
</div>
