#container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 25%;
	border-radius: 100%;
	margin: 150px auto;
	padding:60px;
	box-shadow: 5px 5px 20px;
	text-align: center;
}

input{
	background:none;
	border: none;
	border-bottom: 1px solid #ddd;
	width: 50%;
	padding: 5px;
	outline: none
}
input:focus{
	border: none;
}
