<div class="content">
  <div class="leftBar">
    <h1>Contact me</h1>
    <!-- <p>If you have any questions, please contact using the form below</p> -->
      <form action="" method="">
        <input type="text" placeholder="Name"><br>
        <input type="email" placeholder="Email"><br>
        <input type="text" placeholder="Subject"><br>
        <textarea placeholder="Massage" name="" id="" cols="22" rows="5"></textarea>

      </form>
  </div>
  <div class="rightBar">
    <h1>Map </h1>
    
  </div>
</div>
