li a span.active {
    border-bottom: none;
}
li a.active {
    background-color: black;
}

.promotions h1 {
    margin-top: 150px;
    color: #7b6c63;
    font-weight: bold;
    font-size: 30px;
    
}
.promotions hr  {
    margin-top: 20px;
    border-top: 4px solid #7b6c63;
    width: 100px;
} 
.promInfo {
    margin-top:10px;
}
.promInfo p, .contact p{
    font-size:15px;
}
.firstChild{
    margin-bottom:30px;
}
p .fa {
    color:#008000;
}

.boldText {
    font-weight:bold;
}

.contact {
    margin-top:60px;
}
.contact p {
    margin-bottom:30px;
}

.contact button {
    margin-bottom:30px;
    margin-top:10px;
    background:transparent;
    color:#7b6c63;
    transition:0.3s all ease-in-out;
    border-radius:3px;
    padding: 13px 50px;
    border: 2px solid #7b6c63;
    font-size: 16px;
    font-weight: bold;
}
.contact button:hover {
    background:#7b6c63;
    color:white;
    border:2px solid #7b6c63;
}


footer {
    height:180px;
}
footer .top {
    display:none;2223
}