*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navbar{
    background-color: #000000;
    border: none;
    height: 100px;  
    padding-right:100px;
    padding-left:100px;
    
}
.navbar-inverse .navbar-nav {
    background-color: #000000;  
    margin-top:24px;
}



.wrapper {
    position: relative;
    padding:24px 0 0 0 ;
}

li a span.active {
    padding-bottom: 5px;
    border-bottom: 3px solid #7b6c63;
    
}
li a.active {
    background-color: #080808;
} 

.bg-image {
    background-image: url("http://dixonwalther.com/Images/header-bg1.jpg");
    background-repeat: no-repeat;
    background-position:bottom center ; 
    background-size:cover ;
    min-height:100vh;
    
    
}

.bg-image .button {
    padding-top: 170px;

}

.bg-image .button a {
    background-color: #FED136;
    border: 1px solid transparent;  
    font-size: 18px;
    padding: 20px 40px;
    border-radius:3px;
    transition: all .2s ease-in-out;
}
.bg-image .button a:hover {
    background-color: #000;
}

.description {
    
    background-color: rgba(0,0,0,.5);
    margin-top: 105px;
    padding: 30px 25px; 
}

.description-text h2 {
    color: white;
    font-size: 5vmin;
    
     
}
.description-text h1 {
    font-size: 10vmin;
    color: white;
}
.description-text h1 span {
    color: #F7D208;
}

/*Section About*/


.about h1 {
    margin-top: 70px;
    color: #7b6c63;
    font-weight: bold;
    font-size: 30px;
    
}
.about hr  {
    margin-top: 20px;
    border-top: 4px solid #7b6c63;
    width: 100px;
    margin-bottom: 30px;  
}
.about p {
    text-align:center;
    margin-bottom: 60px;  
}


.about-section {
    width:100%;
    background-color:#F5F5F5;
    display:flex;
}
.about-info {
    width:50%;
    text-align:left;
    padding-top:50px;
    padding-left:120px;
    padding-bottom:50px;
}

.about-info button {
    background:transparent;
    color:black;
    border:2px solid black;
    transition:0.3s all ease-in-out;
    border-radius:3px;
    padding: 11px 25px;
}
.about-info button:hover {
    background:black;
    color:white;
    border:2px solid black;
    
}

.about-info h1{
    color: #7b6c63;
    font-weight: bold;
    font-size: 30px;
    
}

.rightBar {
    width:50%;
    
}
.rightBar img {
    min-height:100vh;
    max-width:100%;
}



/*Section Service*/


.services {
    margin-bottom:60px;
    
}
.services h1 {
    margin-top: 90px;
    color: #7b6c63;
    font-weight: bold;
    font-size: 30px;
    
}
.services hr  {
    margin-top: 20px;
    border-top: 4px solid #7b6c63;
    width: 100px;
    margin-bottom: 30px;  
}

#serviceIcons{
   margin:80px 100px;
}
#serviceIcons img {
    margin-bottom:10px;
}
#serviceIcons .row {
    margin-bottom:20px;
}


.showLess {
    display:none;
}
.service-info ul {
    list-style-type:none;
    margin-right:20px;
}
.service-info li p {
    display:none;
}
.service-info button {
    background:none;
    border:none;
    color:blue;
    outline:none;
}
.service-info button:hover {
    text-decoration:underline;

}



/*Section Portfolio*/


.slide {
    background-color:black;
    height:445px;
    text-align:center;
   
}
.slide h2{
    color:white;
    padding-top:80px;
}
.slide .container {
    width:40%;  
}
#myCarousel {
    margin-top:10px;
    height:300px;
    background-color:transparent;
    padding-top:60px;
}
.carousel-inner h4 {
    margin-top:60px;
    color:#7B6C63;
    letter-spacing:2px;
}

.carousel-inner p{
    color:#929292;
}
.portfolios {
    margin-bottom:70px;
}
.portfolios h1 {
    margin-top: 100px;
    color: #7b6c63;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.portfolios hr  {
    margin-top: 20px;
    border-top: 4px solid #7b6c63;
    width: 100px;
    margin-bottom: 30px;
}

/*Section Contact*/





/*Footer*/

footer {
    background-color: black;
    height: 250px;
}
footer .left p {
    color:#ccc;
    margin-left: 20px;
}

.footer-info  i:nth-child(1){
   font-size: 90px;
   font-weight: bolder; 
   cursor: pointer;
}
.footer-info  i:nth-child(1):hover{
   color: white;
}
.footer-info .place{
   font-size: 40px;
   color: white;
}
.footer-info .phone {
    font-size: 25px;
   color: white;
}
.footer-info p{  
    color: white;  
    font-weight: bold;
}





/*@media all and (max-width: 1200px){
    #navbar {
        height:200px;
    }   
    ul {
        width:100%;
    }
} */ 

 

@media all and (max-width:1024px) {
    #navbar {
        padding-left:0px;
        padding-right:0px;
    }
}


@media all and (max-width:1000px){
    .rightBar {
        display:none;
    }
    .about-info {
        width:100%;
        padding:50px 25px;
    }

}

@media all and (max-width:820px){
    #navbar {
        height:150px;
    }
    .navbar-inverse .navbar-nav {
        background-color: #000000;  
        margin-top:0px;
    }
}


@media all and (max-width:768px){
    #navbar {
        height:100px;
    }
    #navbar img{
        margin-top:-50px;
    }
}

@media all and (max-width:450px){
    .slide {
        display: none;
    }
}

@media all and (max-width:335px){
    #navbar {
        height: 150px;
    }
    #navbar img{
        margin-top:0px;
    }

}


